.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url(/mesto/images/edit_button.svg);
    background-size: cover;
    background-color: black;
    border: 0;
    cursor: pointer;
    margin-top: 37px;
    margin-left: 18px;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: 0.2s linear;
}

@media (max-width:767px) {
    .profile__edit-button {
        margin: auto;
        transform: translate(130px, -260%);
    }
}