.profile__info {
    padding: 22px 0px 25px 30px;
}

@media (max-width:767px) {
    .profile__info {
        padding: 0;
        padding-top: 26px;
        display: flex;
        flex-direction: column;
    }
}