.card__like {
    background-image: url(/mesto/images/like.png);
    width: 22px;
    height: 19px;
    border: none;
    margin-right: 15px;
    padding: 0px;
    padding-right: 25px;
    background-repeat: no-repeat;
    background-color: #fff;
    cursor: pointer;
    border: 0;
}

.card__like:hover {
    opacity: 0.5;
    transition: 0.2s linear;
}