.profile__autor {
    color: #fff;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width:767px) {
    .profile__autor {
        font-size: 27px;
        line-height: 32.68px;
        align-self: center;
        max-width: 220px;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .profile__autor {
        max-width: 330px;
    }
}